<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bookpublishers>
            <general>
                <enable_feature>1</enable_feature>
            </general>
        </bookpublishers>
    </default>
</config>
